<!DOCTYPE html>
<html>
    <head>
  <meta charset="UTF-8" />
	<title>SPvaiPARAR</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/shadowbox/shadowbox.css') }}" media="screen">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    </head>
    <body>
	<section id="main" class="wall">
	    <ul class="content">
		<li class="item head">
		    <header>
			<h1>SPvaiPARAR</h1>	
			<h2>Livestreaming sobre os protestos no Brasil!</h2>
			<a href="#" class="reload" size="18px">recarregar resultados</a>
		    </header>
		</li>
		<li class="item info">
      <font size="14pt" color="#fff" face="Helvetica">Tags no Facebook:</font><br />
      <nav>
      <a href="https://www.facebook.com/hashtag/spvaiparar" target="_blank">SPvaiPARAR</a> 
      <a href="https://www.facebook.com/hashtag/passelivre" target="_blank">passelivre</a> 
      <a href="https://www.facebook.com/hashtag/sp13j" target="_blank">SP13J</a>
      <a href="https://www.facebook.com/hashtag/sp17j" target="_blank">SP17J</a>
      <a href="https://www.facebook.com/hashtag/vemprarua" target="_blank">vemprarua</a>
      <a href="https://www.facebook.com/hashtag/vemprajanela" target="_blank">vemprajanela</a>
      <a href="https://www.facebook.com/hashtag/occupysp" target="_blank">OccupySP</a>
      <a href="https://www.facebook.com/hashtag/vinagre" target="_blank">Vinagre</a>
      <a href="https://www.facebook.com/hashtag/protestorj" target="_blank">ProtestoRJ</a>  
      <a href="https://www.facebook.com/hashtag/semviolencia" target="_blank">SemViolência</a>  
      <a href="https://www.facebook.com/hashtag/revogaoaumento" target="_blank">RevogaOAumento</a>
      <a href="https://www.facebook.com/hashtag/protestosp" target="_blank">protestosp</a>
      <a href="http://ikkei.com.br/protestosp/ " target="_blank">Mapa de Atendimento Médico #MOBAJUDA</a>  
		    </nav>
		    <aside id="info">
			<font size="14pt" color="#fff" face="Arial" text-align="center">Utilize a tag <font weight="bold" color="#e70000">SPvaiPARAR</font> e participe da cobertura!</font>
		    </aside>
		</li>
	    </ul>
	    <a href="#" class="more" data-from="20">Carregar mais fotos</a>
	</section>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/shadowbox/shadowbox.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.imagesloaded.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
        <script>var jsonUrl = '{{ url_for('static', filename='spvaiparar.json') }}';</script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41774878-1', 'spvaiparar.com.br');
  ga('send', 'pageview');

</script>
    </body>
</html>