<!DOCTYPE html>
<html>
    <head>
  <meta charset="UTF-8" />
	<title>SPvaiPARAR</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/shadowbox/shadowbox.css') }}" media="screen">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    </head>
    <body>
	<section id="main" class="wall">
	    <ul class="content">
		<li class="item head">
		    <header>
			<h1>SPvaiPARAR</h1>	
			<h2>Livestreaming sobre os protestos no Brasil!</h2>
			<a href="#" class="reload" size="18px">recarregar resultados</a>
		    </header>
		</li>
		<li class="item info">
      <nav>
  	  <font size="16pt" color="#fff" face="Helvetica">Tags no Facebook:</font><br />
      <a href="https://www.facebook.com/hashtag/spvaiparar" target="_blank">SPvaiPARAR</a> 
      <a href="https://www.facebook.com/hashtag/passelivre" target="_blank">passelivre</a> 
      <a href="https://www.facebook.com/hashtag/sp13j" target="_blank">SP13J</a>
      <a href="https://www.facebook.com/hashtag/sp17j" target="_blank">SP17J</a>
      <a href="https://www.facebook.com/hashtag/vemprarua" target="_blank">vemprarua</a>
      <a href="https://www.facebook.com/hashtag/vemprajanela" target="_blank">vemprajanela</a>
      <a href="https://www.facebook.com/hashtag/occupysp" target="_blank">OccupySP</a>
		    </nav>
		    <aside id="info">
			<font size="16pt" color="#fff" face="Arial" align="center">Utilize a tag <strong>SPvaiPARAR</strong> e participe da cobertura!</font>
		    </aside>
		</li>
	    </ul>
	    <a href="#" class="more" data-from="20">Carregar mais fotos</a>
	</section>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/shadowbox/shadowbox.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.imagesloaded.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
        <script>var jsonUrl = '{{ url_for('static', filename='spvaiparar.json') }}';</script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>