<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8" />
	<title>Cobertura Colaborativa - BAIXOCENTRO</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/shadowbox/shadowbox.css') }}" media="screen">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    </head>
    <body>
	<section id="main" class="wall">
	    <ul class="content">
		<li class="item head">
		    <header>
			<h1>BaixoCentro</h1>	
			<h2>Cobertura Colaborativa</h2>
			<a href="#" class="reload">recarregar resultados</a>
		    </header>
		</li>
		<li class="item info">
		    <nav>
			<a href="http://baixocentro.org/" target="_blank">Site oficial do BaixoCentro</a>
			<a href="http://programacao.baixocentro.org/" target="_blank">Programação completa</a>
			<a href="http://baixocentro.org/" target="_blank">Mais informações sobre a cobertura</a>
		    </nav>
		    <aside id="info">
			<h3>Utilize a tag baixocentro e participe da cobertura!</h3>
		    </aside>
		</li>
	    </ul>
	    <a href="#" class="more" data-from="20">Carregar mais fotos</a>
	</section>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/shadowbox/shadowbox.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.imagesloaded.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
        <script>var jsonUrl = '{{ url_for('static', filename='baixocentro.json') }}';</script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
